a {
  color: white !important;
}

.navbar {
  background-color: black;
  height: 10vh;
}

.navbar-brand {
  margin-left: 5%;
}

.justify-content-end {
  margin-right: 5%;
}

.mobile-text {
  padding: 10%;
}