.card {
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.nut-info-col {
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}

.nut-goal-text {
  margin-top: 2vh;
}